:host {
	@apply flex justify-between items-center gap-2;
	@apply w-full p-4 pl-5;
	@apply bg-white rounded box-border;
	@apply shadow-3 #{!important};
	@apply border-l-4 border-solid #{!important};

	p {
		@apply m-0;
		@apply overflow-hidden text-ellipsis whitespace-nowrap;
	}
}

:host(.variant-positive) {
	@apply border-l-positive  #{!important};
}

:host(.variant-unbiased) {
	@apply border-l-unbiased  #{!important};
}

:host(.variant-negative) {
	@apply border-l-negative  #{!important};
}
