:host {
	@apply rounded-t-2xl bg-mystic;
	@apply flex items-center justify-between;
	@apply p-4 desktop-xs:p-6;

	@apply text-xl font-semibold text-storm-dark;
	@apply desktop-xs:text-3xl desktop-xs:font-bold;
}
