:host {
	@apply flex flex-col overflow-hidden;

	@apply -m-16 p-16;

	.slider {
		@apply relative box-content overflow-visible;

		&.draggable {
			@apply cursor-grab desktop-xs:cursor-auto;

			&.dragging {
				@apply cursor-grabbing desktop-xs:cursor-auto;

				.inner-slider {
					@apply transition-none;
				}
			}
		}

		.inner-slider {
			@apply absolute flex w-full flex-nowrap items-stretch gap-2;

			@apply translate-x-0 transform-gpu will-change-transform;

			@apply desktop-xs:flex-wrap desktop-xs:gap-4;

			@apply transition-all;
			transition-duration: 0.5s;

			> ::slotted(*) {
				@apply w-full;
				@apply z-10 shrink-0;

				@screen tablet {
					width: calc(50% - 0.5rem);
				}

				@screen desktop-xs {
					@apply w-0 flex-1;
				}

				position: relative;
			}
		}
	}

	.indicator {
		@apply flex items-center justify-center desktop-xs:hidden;

		.item {
			@apply mt-3 px-1 pt-1;
		}
	}
}
