:host {
	@apply flex w-full flex-col;
	@apply text-sm text-storm-medium;
	@apply px-6;

	.content {
		@apply relative flex min-h-[3.875rem] w-full flex-nowrap items-center justify-between py-2 tablet:h-18 tablet:py-6;
	}
}

:host(.variant-header) {
	@apply bg-mystic-light;
	@apply text-xs font-semibold uppercase text-storm-vague;
	@apply border-x-0 border-y border-solid border-y-mystic-dark #{!important};

	.content {
		@apply min-h-0 py-2 tablet:h-auto;
	}
}

:host(.enable-hover:hover) {
	@apply cursor-pointer bg-indigo-light;
}
