--breakpoint-tablet: 40rem;
--breakpoint-desktop-xs: 64rem;
--breakpoint-desktop-sm: 80rem;
--breakpoint-desktop: 85.375rem;
--breakpoint-desktop-lg: 90rem;
--breakpoint-desktop-xl: 120rem;
--breakpoint-layout-1280: 80rem;
--breakpoint-layout-1440: 90rem;
--breakpoint-layout-1536: 96rem;
--breakpoint-layout-1680: 105rem;
--breakpoint-layout-1920: 120rem;
--breakpoint-layout-2560: 160rem;