@theme {
	--color-inherit: inherit;
	--color-transparent: transparent;
	--color-current: currentColor;
	--color-black: #000;
	--color-white-500: #FFFFFF;
	--color-white-600: #FAFAFA;
	--color-white-700: #F2F2F2;
	--color-white-800: #E4E3E3;
	--color-negative-red-50: #FDEDED;
	--color-negative-red-100: #FFDDDD;
	--color-negative-red-500: #E61E1E;
	--color-negative-red-800: #8D1010;
	--color-positive-green-50: #EAFDE3;
	--color-positive-green-100: #D5FBC7;
	--color-positive-green-500: #5CC30E;
	--color-positive-green-800: #2F6407;
	--color-amber-50: #FFFAE0;
	--color-amber-100: #FFF6C2;
	--color-amber-500: #E19F23;
	--color-amber-800: #944D0B;
	--color-human-beige-50: #FDFCFB;
	--color-human-beige-100: #FCFAF8;
	--color-human-beige-200: #F8F4F1;
	--color-human-beige-300: #F5EFE9;
	--color-human-beige-400: #F1E9E2;
	--color-human-beige-500: #EEE4DB;
	--color-human-beige-600: #EDE0D5;
	--color-human-beige-700: #E7D8CB;
	--color-human-beige-800: #DEC9B7;
	--color-off-white-50: #FEFEFD;
	--color-off-white-100: #FDFCFB;
	--color-off-white-200: #FAF9F8;
	--color-off-white-300: #F8F7F4;
	--color-off-white-400: #F5F4F1;
	--color-off-white-500: #F3F1ED;
	--color-off-white-600: #ECEAE5;
	--color-off-white-700: #DEDBD5;
	--color-off-white-800: #D5D0C3;
	--color-supportive-lilac-50: #FAF7FF;
	--color-supportive-lilac-100: #F6EFFF;
	--color-supportive-lilac-200: #EDDFFF;
	--color-supportive-lilac-300: #E3CEFF;
	--color-supportive-lilac-400: #DABEFF;
	--color-supportive-lilac-500: #D1AEFF;
	--color-supportive-lilac-600: #CCA8FC;
	--color-supportive-lilac-700: #C89FFF;
	--color-supportive-lilac-800: #BD8CFF;
	--color-supportive-lilac-900: #5009B3;
	--color-growth-green-50: #F5FFEE;
	--color-growth-green-100: #ECFFDD;
	--color-growth-green-200: #D9FFBB;
	--color-growth-green-300: #C6FF9A;
	--color-growth-green-400: #B3FF78;
	--color-growth-green-500: #A0FF56;
	--color-growth-green-600: #8CFC35;
	--color-growth-green-700: #7FF424;
	--color-growth-green-800: #81EF2B;
	--color-tech-breeze-50: #F4FFFD;
	--color-tech-breeze-100: #EAFFFB;
	--color-tech-breeze-200: #D4FFF8;
	--color-tech-breeze-300: #BFFFF4;
	--color-tech-breeze-400: #A9FFF1;
	--color-tech-breeze-500: #94FFED;
	--color-tech-breeze-600: #83FAE6;
	--color-tech-breeze-700: #66F2DA;
	--color-tech-breeze-800: #3DEACC;
	--color-teal-50: #E6F3F2;
	--color-teal-100: #CEE7E4;
	--color-teal-200: #9CCFC9;
	--color-teal-300: #6BB8AF;
	--color-teal-400: #39A094;
	--color-teal-500: #088879;
	--color-teal-600: #047F72;
	--color-teal-700: #047367;
	--color-teal-800: #02665C;
	--color-dark-teal-50: #E5EEED;
	--color-dark-teal-100: #CCDCDA;
	--color-dark-teal-200: #99B9B6;
	--color-dark-teal-300: #669791;
	--color-dark-teal-400: #33746D;
	--color-dark-teal-500: #005148;
	--color-dark-teal-600: #004840;
	--color-dark-teal-700: #003832;
	--color-dark-teal-800: #012521;
	--color-black-teal-50: #E6EAE9;
	--color-black-teal-100: #CDD4D3;
	--color-black-teal-200: #9AAAA7;
	--color-black-teal-300: #687F7C;
	--color-black-teal-400: #355550;
	--color-black-teal-500: #032A24;
	--color-black-teal-600: #011815;
	--color-black-teal-700: #000D0B;
	--color-black-teal-800: #000202;


	/* Deprecated */
	--color-indigo-dark: #2C4BA9;
	--color-indigo: #528AFA;
	--color-indigo-light: #F1F6FF;
	--color-sky-dark: #30C2C9;
	--color-sky: #1EDAE3;
	--color-sky-light: #F5FEFF;
	--color-sky-vague: #BBF4F6;
	--color-mystic-blank: #FFF;
	--color-mystic-dark: #DAE6F0;
	--color-mystic: #F7FAFC;
	--color-mystic-light: #FCFDFE;
	--color-mystic-medium: #E3ECF3;
	--color-redberry-dark: #BD0F1E;
	--color-redberry: #E63241;
	--color-redberry-light: #FFE8EA;
	--color-redberry-medium: #FF7D88;
	--color-storm-dark: #272838;
	--color-storm: #51536B;
	--color-storm-light: #B0B2CB;
	--color-storm-medium: #80829E;
	--color-storm-vague: #989AB7;
	--color-negative-dark: #8A0F1D;
	--color-negative: #B91E28;
	--color-negative-light: #FFCCD3;
	--color-positive-dark: #1DA360;
	--color-positive: #28D17C;
	--color-positive-light: #E5FFF2;
	--color-unbiased-dark: #FFA231;
	--color-unbiased: #FFC72D;
	--color-unbiased-light: #FFF6DC;
}
