--rotate-1: 1deg;
--rotate-2: 2deg;
--rotate-3: 3deg;
--rotate-4: 4deg;
--rotate-5: 5deg;
--rotate-6: 6deg;
--rotate-7: 7deg;
--rotate-8: 8deg;
--rotate-9: 9deg;
--rotate-10: 10deg;
--rotate-11: 11deg;
--rotate-12: 12deg;
--rotate-13: 13deg;
--rotate-14: 14deg;
--rotate-15: 15deg;
--rotate-16: 16deg;
--rotate-17: 17deg;
--rotate-18: 18deg;
--rotate-19: 19deg;
--rotate-20: 20deg;
--rotate-21: 21deg;
--rotate-22: 22deg;
--rotate-23: 23deg;
--rotate-24: 24deg;
--rotate-25: 25deg;
--rotate-26: 26deg;
--rotate-27: 27deg;
--rotate-28: 28deg;
--rotate-29: 29deg;
--rotate-30: 30deg;
--rotate-31: 31deg;
--rotate-32: 32deg;
--rotate-33: 33deg;
--rotate-34: 34deg;
--rotate-35: 35deg;
--rotate-36: 36deg;
--rotate-37: 37deg;
--rotate-38: 38deg;
--rotate-39: 39deg;
--rotate-40: 40deg;
--rotate-41: 41deg;
--rotate-42: 42deg;
--rotate-43: 43deg;
--rotate-44: 44deg;
--rotate-45: 45deg;
--rotate-46: 46deg;
--rotate-47: 47deg;
--rotate-48: 48deg;
--rotate-49: 49deg;
--rotate-50: 50deg;
--rotate-51: 51deg;
--rotate-52: 52deg;
--rotate-53: 53deg;
--rotate-54: 54deg;
--rotate-55: 55deg;
--rotate-56: 56deg;
--rotate-57: 57deg;
--rotate-58: 58deg;
--rotate-59: 59deg;
--rotate-60: 60deg;
--rotate-61: 61deg;
--rotate-62: 62deg;
--rotate-63: 63deg;
--rotate-64: 64deg;
--rotate-65: 65deg;
--rotate-66: 66deg;
--rotate-67: 67deg;
--rotate-68: 68deg;
--rotate-69: 69deg;
--rotate-70: 70deg;
--rotate-71: 71deg;
--rotate-72: 72deg;
--rotate-73: 73deg;
--rotate-74: 74deg;
--rotate-75: 75deg;
--rotate-76: 76deg;
--rotate-77: 77deg;
--rotate-78: 78deg;
--rotate-79: 79deg;
--rotate-80: 80deg;
--rotate-81: 81deg;
--rotate-82: 82deg;
--rotate-83: 83deg;
--rotate-84: 84deg;
--rotate-85: 85deg;
--rotate-86: 86deg;
--rotate-87: 87deg;
--rotate-88: 88deg;
--rotate-89: 89deg;
--rotate-90: 90deg;
--rotate-91: 91deg;
--rotate-92: 92deg;
--rotate-93: 93deg;
--rotate-94: 94deg;
--rotate-95: 95deg;
--rotate-96: 96deg;
--rotate-97: 97deg;
--rotate-98: 98deg;
--rotate-99: 99deg;
--rotate-100: 100deg;
--rotate-101: 101deg;
--rotate-102: 102deg;
--rotate-103: 103deg;
--rotate-104: 104deg;
--rotate-105: 105deg;
--rotate-106: 106deg;
--rotate-107: 107deg;
--rotate-108: 108deg;
--rotate-109: 109deg;
--rotate-110: 110deg;
--rotate-111: 111deg;
--rotate-112: 112deg;
--rotate-113: 113deg;
--rotate-114: 114deg;
--rotate-115: 115deg;
--rotate-116: 116deg;
--rotate-117: 117deg;
--rotate-118: 118deg;
--rotate-119: 119deg;
--rotate-120: 120deg;
--rotate-121: 121deg;
--rotate-122: 122deg;
--rotate-123: 123deg;
--rotate-124: 124deg;
--rotate-125: 125deg;
--rotate-126: 126deg;
--rotate-127: 127deg;
--rotate-128: 128deg;
--rotate-129: 129deg;
--rotate-130: 130deg;
--rotate-131: 131deg;
--rotate-132: 132deg;
--rotate-133: 133deg;
--rotate-134: 134deg;
--rotate-135: 135deg;
--rotate-136: 136deg;
--rotate-137: 137deg;
--rotate-138: 138deg;
--rotate-139: 139deg;
--rotate-140: 140deg;
--rotate-141: 141deg;
--rotate-142: 142deg;
--rotate-143: 143deg;
--rotate-144: 144deg;
--rotate-145: 145deg;
--rotate-146: 146deg;
--rotate-147: 147deg;
--rotate-148: 148deg;
--rotate-149: 149deg;
--rotate-150: 150deg;
--rotate-151: 151deg;
--rotate-152: 152deg;
--rotate-153: 153deg;
--rotate-154: 154deg;
--rotate-155: 155deg;
--rotate-156: 156deg;
--rotate-157: 157deg;
--rotate-158: 158deg;
--rotate-159: 159deg;
--rotate-160: 160deg;
--rotate-161: 161deg;
--rotate-162: 162deg;
--rotate-163: 163deg;
--rotate-164: 164deg;
--rotate-165: 165deg;
--rotate-166: 166deg;
--rotate-167: 167deg;
--rotate-168: 168deg;
--rotate-169: 169deg;
--rotate-170: 170deg;
--rotate-171: 171deg;
--rotate-172: 172deg;
--rotate-173: 173deg;
--rotate-174: 174deg;
--rotate-175: 175deg;
--rotate-176: 176deg;
--rotate-177: 177deg;
--rotate-178: 178deg;
--rotate-179: 179deg;
--rotate-180: 180deg;
--rotate-181: 181deg;
--rotate-182: 182deg;
--rotate-183: 183deg;
--rotate-184: 184deg;
--rotate-185: 185deg;
--rotate-186: 186deg;
--rotate-187: 187deg;
--rotate-188: 188deg;
--rotate-189: 189deg;
--rotate-190: 190deg;
--rotate-191: 191deg;
--rotate-192: 192deg;
--rotate-193: 193deg;
--rotate-194: 194deg;
--rotate-195: 195deg;
--rotate-196: 196deg;
--rotate-197: 197deg;
--rotate-198: 198deg;
--rotate-199: 199deg;
--rotate-200: 200deg;
--rotate-201: 201deg;
--rotate-202: 202deg;
--rotate-203: 203deg;
--rotate-204: 204deg;
--rotate-205: 205deg;
--rotate-206: 206deg;
--rotate-207: 207deg;
--rotate-208: 208deg;
--rotate-209: 209deg;
--rotate-210: 210deg;
--rotate-211: 211deg;
--rotate-212: 212deg;
--rotate-213: 213deg;
--rotate-214: 214deg;
--rotate-215: 215deg;
--rotate-216: 216deg;
--rotate-217: 217deg;
--rotate-218: 218deg;
--rotate-219: 219deg;
--rotate-220: 220deg;
--rotate-221: 221deg;
--rotate-222: 222deg;
--rotate-223: 223deg;
--rotate-224: 224deg;
--rotate-225: 225deg;
--rotate-226: 226deg;
--rotate-227: 227deg;
--rotate-228: 228deg;
--rotate-229: 229deg;
--rotate-230: 230deg;
--rotate-231: 231deg;
--rotate-232: 232deg;
--rotate-233: 233deg;
--rotate-234: 234deg;
--rotate-235: 235deg;
--rotate-236: 236deg;
--rotate-237: 237deg;
--rotate-238: 238deg;
--rotate-239: 239deg;
--rotate-240: 240deg;
--rotate-241: 241deg;
--rotate-242: 242deg;
--rotate-243: 243deg;
--rotate-244: 244deg;
--rotate-245: 245deg;
--rotate-246: 246deg;
--rotate-247: 247deg;
--rotate-248: 248deg;
--rotate-249: 249deg;
--rotate-250: 250deg;
--rotate-251: 251deg;
--rotate-252: 252deg;
--rotate-253: 253deg;
--rotate-254: 254deg;
--rotate-255: 255deg;
--rotate-256: 256deg;
--rotate-257: 257deg;
--rotate-258: 258deg;
--rotate-259: 259deg;
--rotate-260: 260deg;
--rotate-261: 261deg;
--rotate-262: 262deg;
--rotate-263: 263deg;
--rotate-264: 264deg;
--rotate-265: 265deg;
--rotate-266: 266deg;
--rotate-267: 267deg;
--rotate-268: 268deg;
--rotate-269: 269deg;
--rotate-270: 270deg;
--rotate-271: 271deg;
--rotate-272: 272deg;
--rotate-273: 273deg;
--rotate-274: 274deg;
--rotate-275: 275deg;
--rotate-276: 276deg;
--rotate-277: 277deg;
--rotate-278: 278deg;
--rotate-279: 279deg;
--rotate-280: 280deg;
--rotate-281: 281deg;
--rotate-282: 282deg;
--rotate-283: 283deg;
--rotate-284: 284deg;
--rotate-285: 285deg;
--rotate-286: 286deg;
--rotate-287: 287deg;
--rotate-288: 288deg;
--rotate-289: 289deg;
--rotate-290: 290deg;
--rotate-291: 291deg;
--rotate-292: 292deg;
--rotate-293: 293deg;
--rotate-294: 294deg;
--rotate-295: 295deg;
--rotate-296: 296deg;
--rotate-297: 297deg;
--rotate-298: 298deg;
--rotate-299: 299deg;
--rotate-300: 300deg;
--rotate-301: 301deg;
--rotate-302: 302deg;
--rotate-303: 303deg;
--rotate-304: 304deg;
--rotate-305: 305deg;
--rotate-306: 306deg;
--rotate-307: 307deg;
--rotate-308: 308deg;
--rotate-309: 309deg;
--rotate-310: 310deg;
--rotate-311: 311deg;
--rotate-312: 312deg;
--rotate-313: 313deg;
--rotate-314: 314deg;
--rotate-315: 315deg;
--rotate-316: 316deg;
--rotate-317: 317deg;
--rotate-318: 318deg;
--rotate-319: 319deg;
--rotate-320: 320deg;
--rotate-321: 321deg;
--rotate-322: 322deg;
--rotate-323: 323deg;
--rotate-324: 324deg;
--rotate-325: 325deg;
--rotate-326: 326deg;
--rotate-327: 327deg;
--rotate-328: 328deg;
--rotate-329: 329deg;
--rotate-330: 330deg;
--rotate-331: 331deg;
--rotate-332: 332deg;
--rotate-333: 333deg;
--rotate-334: 334deg;
--rotate-335: 335deg;
--rotate-336: 336deg;
--rotate-337: 337deg;
--rotate-338: 338deg;
--rotate-339: 339deg;
--rotate-340: 340deg;
--rotate-341: 341deg;
--rotate-342: 342deg;
--rotate-343: 343deg;
--rotate-344: 344deg;
--rotate-345: 345deg;
--rotate-346: 346deg;
--rotate-347: 347deg;
--rotate-348: 348deg;
--rotate-349: 349deg;
--rotate-350: 350deg;
--rotate-351: 351deg;
--rotate-352: 352deg;
--rotate-353: 353deg;
--rotate-354: 354deg;
--rotate-355: 355deg;
--rotate-356: 356deg;
--rotate-357: 357deg;
--rotate-358: 358deg;
--rotate-359: 359deg;
--rotate--1: -1deg;
--rotate--2: -2deg;
--rotate--3: -3deg;
--rotate--4: -4deg;
--rotate--5: -5deg;
--rotate--6: -6deg;
--rotate--7: -7deg;
--rotate--8: -8deg;
--rotate--9: -9deg;
--rotate--10: -10deg;
--rotate--11: -11deg;
--rotate--12: -12deg;
--rotate--13: -13deg;
--rotate--14: -14deg;
--rotate--15: -15deg;
--rotate--16: -16deg;
--rotate--17: -17deg;
--rotate--18: -18deg;
--rotate--19: -19deg;
--rotate--20: -20deg;
--rotate--21: -21deg;
--rotate--22: -22deg;
--rotate--23: -23deg;
--rotate--24: -24deg;
--rotate--25: -25deg;
--rotate--26: -26deg;
--rotate--27: -27deg;
--rotate--28: -28deg;
--rotate--29: -29deg;
--rotate--30: -30deg;
--rotate--31: -31deg;
--rotate--32: -32deg;
--rotate--33: -33deg;
--rotate--34: -34deg;
--rotate--35: -35deg;
--rotate--36: -36deg;
--rotate--37: -37deg;
--rotate--38: -38deg;
--rotate--39: -39deg;
--rotate--40: -40deg;
--rotate--41: -41deg;
--rotate--42: -42deg;
--rotate--43: -43deg;
--rotate--44: -44deg;
--rotate--45: -45deg;
--rotate--46: -46deg;
--rotate--47: -47deg;
--rotate--48: -48deg;
--rotate--49: -49deg;
--rotate--50: -50deg;
--rotate--51: -51deg;
--rotate--52: -52deg;
--rotate--53: -53deg;
--rotate--54: -54deg;
--rotate--55: -55deg;
--rotate--56: -56deg;
--rotate--57: -57deg;
--rotate--58: -58deg;
--rotate--59: -59deg;
--rotate--60: -60deg;
--rotate--61: -61deg;
--rotate--62: -62deg;
--rotate--63: -63deg;
--rotate--64: -64deg;
--rotate--65: -65deg;
--rotate--66: -66deg;
--rotate--67: -67deg;
--rotate--68: -68deg;
--rotate--69: -69deg;
--rotate--70: -70deg;
--rotate--71: -71deg;
--rotate--72: -72deg;
--rotate--73: -73deg;
--rotate--74: -74deg;
--rotate--75: -75deg;
--rotate--76: -76deg;
--rotate--77: -77deg;
--rotate--78: -78deg;
--rotate--79: -79deg;
--rotate--80: -80deg;
--rotate--81: -81deg;
--rotate--82: -82deg;
--rotate--83: -83deg;
--rotate--84: -84deg;
--rotate--85: -85deg;
--rotate--86: -86deg;
--rotate--87: -87deg;
--rotate--88: -88deg;
--rotate--89: -89deg;
--rotate--90: -90deg;
--rotate--91: -91deg;
--rotate--92: -92deg;
--rotate--93: -93deg;
--rotate--94: -94deg;
--rotate--95: -95deg;
--rotate--96: -96deg;
--rotate--97: -97deg;
--rotate--98: -98deg;
--rotate--99: -99deg;
--rotate--100: -100deg;
--rotate--101: -101deg;
--rotate--102: -102deg;
--rotate--103: -103deg;
--rotate--104: -104deg;
--rotate--105: -105deg;
--rotate--106: -106deg;
--rotate--107: -107deg;
--rotate--108: -108deg;
--rotate--109: -109deg;
--rotate--110: -110deg;
--rotate--111: -111deg;
--rotate--112: -112deg;
--rotate--113: -113deg;
--rotate--114: -114deg;
--rotate--115: -115deg;
--rotate--116: -116deg;
--rotate--117: -117deg;
--rotate--118: -118deg;
--rotate--119: -119deg;
--rotate--120: -120deg;
--rotate--121: -121deg;
--rotate--122: -122deg;
--rotate--123: -123deg;
--rotate--124: -124deg;
--rotate--125: -125deg;
--rotate--126: -126deg;
--rotate--127: -127deg;
--rotate--128: -128deg;
--rotate--129: -129deg;
--rotate--130: -130deg;
--rotate--131: -131deg;
--rotate--132: -132deg;
--rotate--133: -133deg;
--rotate--134: -134deg;
--rotate--135: -135deg;
--rotate--136: -136deg;
--rotate--137: -137deg;
--rotate--138: -138deg;
--rotate--139: -139deg;
--rotate--140: -140deg;
--rotate--141: -141deg;
--rotate--142: -142deg;
--rotate--143: -143deg;
--rotate--144: -144deg;
--rotate--145: -145deg;
--rotate--146: -146deg;
--rotate--147: -147deg;
--rotate--148: -148deg;
--rotate--149: -149deg;
--rotate--150: -150deg;
--rotate--151: -151deg;
--rotate--152: -152deg;
--rotate--153: -153deg;
--rotate--154: -154deg;
--rotate--155: -155deg;
--rotate--156: -156deg;
--rotate--157: -157deg;
--rotate--158: -158deg;
--rotate--159: -159deg;
--rotate--160: -160deg;
--rotate--161: -161deg;
--rotate--162: -162deg;
--rotate--163: -163deg;
--rotate--164: -164deg;
--rotate--165: -165deg;
--rotate--166: -166deg;
--rotate--167: -167deg;
--rotate--168: -168deg;
--rotate--169: -169deg;
--rotate--170: -170deg;
--rotate--171: -171deg;
--rotate--172: -172deg;
--rotate--173: -173deg;
--rotate--174: -174deg;
--rotate--175: -175deg;
--rotate--176: -176deg;
--rotate--177: -177deg;
--rotate--178: -178deg;
--rotate--179: -179deg;
--rotate--180: -180deg;
--rotate--181: -181deg;
--rotate--182: -182deg;
--rotate--183: -183deg;
--rotate--184: -184deg;
--rotate--185: -185deg;
--rotate--186: -186deg;
--rotate--187: -187deg;
--rotate--188: -188deg;
--rotate--189: -189deg;
--rotate--190: -190deg;
--rotate--191: -191deg;
--rotate--192: -192deg;
--rotate--193: -193deg;
--rotate--194: -194deg;
--rotate--195: -195deg;
--rotate--196: -196deg;
--rotate--197: -197deg;
--rotate--198: -198deg;
--rotate--199: -199deg;
--rotate--200: -200deg;
--rotate--201: -201deg;
--rotate--202: -202deg;
--rotate--203: -203deg;
--rotate--204: -204deg;
--rotate--205: -205deg;
--rotate--206: -206deg;
--rotate--207: -207deg;
--rotate--208: -208deg;
--rotate--209: -209deg;
--rotate--210: -210deg;
--rotate--211: -211deg;
--rotate--212: -212deg;
--rotate--213: -213deg;
--rotate--214: -214deg;
--rotate--215: -215deg;
--rotate--216: -216deg;
--rotate--217: -217deg;
--rotate--218: -218deg;
--rotate--219: -219deg;
--rotate--220: -220deg;
--rotate--221: -221deg;
--rotate--222: -222deg;
--rotate--223: -223deg;
--rotate--224: -224deg;
--rotate--225: -225deg;
--rotate--226: -226deg;
--rotate--227: -227deg;
--rotate--228: -228deg;
--rotate--229: -229deg;
--rotate--230: -230deg;
--rotate--231: -231deg;
--rotate--232: -232deg;
--rotate--233: -233deg;
--rotate--234: -234deg;
--rotate--235: -235deg;
--rotate--236: -236deg;
--rotate--237: -237deg;
--rotate--238: -238deg;
--rotate--239: -239deg;
--rotate--240: -240deg;
--rotate--241: -241deg;
--rotate--242: -242deg;
--rotate--243: -243deg;
--rotate--244: -244deg;
--rotate--245: -245deg;
--rotate--246: -246deg;
--rotate--247: -247deg;
--rotate--248: -248deg;
--rotate--249: -249deg;
--rotate--250: -250deg;
--rotate--251: -251deg;
--rotate--252: -252deg;
--rotate--253: -253deg;
--rotate--254: -254deg;
--rotate--255: -255deg;
--rotate--256: -256deg;
--rotate--257: -257deg;
--rotate--258: -258deg;
--rotate--259: -259deg;
--rotate--260: -260deg;
--rotate--261: -261deg;
--rotate--262: -262deg;
--rotate--263: -263deg;
--rotate--264: -264deg;
--rotate--265: -265deg;
--rotate--266: -266deg;
--rotate--267: -267deg;
--rotate--268: -268deg;
--rotate--269: -269deg;
--rotate--270: -270deg;
--rotate--271: -271deg;
--rotate--272: -272deg;
--rotate--273: -273deg;
--rotate--274: -274deg;
--rotate--275: -275deg;
--rotate--276: -276deg;
--rotate--277: -277deg;
--rotate--278: -278deg;
--rotate--279: -279deg;
--rotate--280: -280deg;
--rotate--281: -281deg;
--rotate--282: -282deg;
--rotate--283: -283deg;
--rotate--284: -284deg;
--rotate--285: -285deg;
--rotate--286: -286deg;
--rotate--287: -287deg;
--rotate--288: -288deg;
--rotate--289: -289deg;
--rotate--290: -290deg;
--rotate--291: -291deg;
--rotate--292: -292deg;
--rotate--293: -293deg;
--rotate--294: -294deg;
--rotate--295: -295deg;
--rotate--296: -296deg;
--rotate--297: -297deg;
--rotate--298: -298deg;
--rotate--299: -299deg;
--rotate--300: -300deg;
--rotate--301: -301deg;
--rotate--302: -302deg;
--rotate--303: -303deg;
--rotate--304: -304deg;
--rotate--305: -305deg;
--rotate--306: -306deg;
--rotate--307: -307deg;
--rotate--308: -308deg;
--rotate--309: -309deg;
--rotate--310: -310deg;
--rotate--311: -311deg;
--rotate--312: -312deg;
--rotate--313: -313deg;
--rotate--314: -314deg;
--rotate--315: -315deg;
--rotate--316: -316deg;
--rotate--317: -317deg;
--rotate--318: -318deg;
--rotate--319: -319deg;
--rotate--320: -320deg;
--rotate--321: -321deg;
--rotate--322: -322deg;
--rotate--323: -323deg;
--rotate--324: -324deg;
--rotate--325: -325deg;
--rotate--326: -326deg;
--rotate--327: -327deg;
--rotate--328: -328deg;
--rotate--329: -329deg;
--rotate--330: -330deg;
--rotate--331: -331deg;
--rotate--332: -332deg;
--rotate--333: -333deg;
--rotate--334: -334deg;
--rotate--335: -335deg;
--rotate--336: -336deg;
--rotate--337: -337deg;
--rotate--338: -338deg;
--rotate--339: -339deg;
--rotate--340: -340deg;
--rotate--341: -341deg;
--rotate--342: -342deg;
--rotate--343: -343deg;
--rotate--344: -344deg;
--rotate--345: -345deg;
--rotate--346: -346deg;
--rotate--347: -347deg;
--rotate--348: -348deg;
--rotate--349: -349deg;
--rotate--350: -350deg;
--rotate--351: -351deg;
--rotate--352: -352deg;
--rotate--353: -353deg;
--rotate--354: -354deg;
--rotate--355: -355deg;
--rotate--356: -356deg;
--rotate--357: -357deg;
--rotate--358: -358deg;
--rotate--359: -359deg;