--width-width-unset: unset;
--width-width-inherit: inherit;
--width-width-content-mobile: 100%;
--width-width-content-1280: 62rem;
--width-width-content-1440: 71rem;
--width-width-content-1536: 77rem;
--width-width-content-1680: 83rem;
--width-width-sidebar-desktop-login: 100%;
--width-width-content-desktop-login: 21rem;