:host {
	@apply flex flex-col gap-4;
	@apply w-full;
	@apply p-4 desktop-xs:p-6;

	@screen desktop-xs {
		@apply grid grid-cols-2;
	}

	> div.left-side {
		@apply col-start-1 justify-self-start;
	}

	> div.right-side {
		@apply col-start-2;
	}
}
