:host {
	@apply flex h-6 items-center gap-2 rounded-lg px-2;
	@apply whitespace-nowrap text-sm font-semibold text-storm;
	@apply cursor-pointer;
}

:host([size='big']) {
	@apply h-auto max-w-[9rem] flex-col whitespace-normal p-4 text-center;

	.description {
		@apply -mt-2 text-xs font-normal text-storm-medium;
	}
}

:host(.variant-icon) {
	@apply w-6 justify-center px-0;
}

:host(:hover) {
	@apply bg-indigo-light;
}

:host(.active) {
	@apply bg-indigo-light text-indigo;

	.description {
		@apply text-indigo;
	}
}
