:host {
	@apply relative flex w-full items-end justify-center;

	.content {
		@apply min-w-[calc(100%-2rem)] whitespace-nowrap;
		@apply text-sm text-storm-light;
	}

	.circle {
		@apply transition duration-500 ease-in-out;
		@apply flex items-center justify-center flex-shrink-0;
		@apply h-4 w-4 rounded-full;
		@apply bg-mystic-dark text-white;

		p-icon {
			@apply flex #{!important};
			font-size: 0.625rem;
		}
	}
}

:host([direction='horizontal']) {
	flex: 0;
	@apply h-10;

	.content {
		@apply absolute top-0 min-w-0;
		@apply order-1;
	}

	.circle {
		@apply order-2;
	}
}

:host([direction='vertical']) {
	@apply min-h-[1rem] items-center;

	.content {
		@apply order-2 ml-4;
	}

	.circle {
		@apply order-1;
	}
}

:host([active]),
:host([finished]) {
	.content {
		@apply text-indigo;
	}

	.circle {
		@apply bg-indigo;
	}
}

:host([direction='horizontal'][align='start']) {
	.content {
		@apply left-0;
	}
}

:host([direction='horizontal'][align='end']) {
	.content {
		@apply right-0;
	}
}

:host([direction='horizontal'][align='center']) {
	.content {
		@apply left-1/2 -translate-x-1/2 transform text-center;
	}
}

:host([direction='vertical'][content-position='start']) {
	@apply flex-row-reverse;

	.content {
		@apply ml-0 mr-4 flex justify-end;
	}
}
