:host {
	@apply flex w-full flex-col;
	@apply rounded-lg bg-white;
}

:host([hoverable]) {
	@apply cursor-pointer;
}

:host([hoverable]:hover) {
	@apply drop-shadow-3 #{!important};
}

:host([shadow='true']),
:host(:not([shadow='false'])) {
	@apply drop-shadow-3 filter #{!important};
}
