:host {
	@apply grid h-dvh w-dvw;

	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, min-content) 1fr;
	gap: 0;
	grid-template-areas:
		'sidebar'
		'topbar'
		'content';

	@screen layout-1280 {
		grid-template-columns: auto 1fr;
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			'topbar topbar'
			'sidebar content';
	}

	.topbar,
	.sidebar,
	.content {
		@apply self-start;
	}

	.topbar {
		grid-area: topbar;

		@apply sticky w-full;
	}

	.sidebar {
		grid-area: sidebar;

		@apply box-border flex h-full;
		@apply w-full;
		@apply layout-1280:w-60 layout-1680:w-72;
	}

	.content {
		grid-area: content;

		@apply relative flex h-full flex-col overflow-y-auto overflow-x-hidden;
		@apply pb-24;

		@apply px-content-mobile-x py-content-mobile-y;
		@apply tablet:p-8;
		@apply layout-1280:p-6 layout-1280:pt-8;
		@apply layout-1440:p-8;
		@apply layout-1920:pr-8 layout-1920:pl-20 layout-1920:pb-20;
		@apply layout-2560:pt-16 layout-2560:pl-[7.5rem] layout-2560:pb-[7.5rem];

		.inner-content {
			@apply relative flex-1;

			// https://linear.app/employes/issue/PRO-9053/%E2%9A%9B%EF%B8%8F-component-wijzigen-layout
			@apply layout-1280:w-content-1280;
			@apply layout-1440:w-content-1440;
			@apply layout-1536:w-content-1536;
			@apply layout-1680:w-content-1680;
		}
	}
}

:host(.variant-default) {
	.content {
		@apply flex-1;
	}
}

:host(.variant-login) {
	grid-template-areas:
		'topbar topbar'
		'content content';

	@screen layout-1280 {
		grid-template-areas:
			'topbar topbar'
			'content sidebar';
	}

	.sidebar {
		@apply hidden w-unset layout-1280:flex;
		@apply p-2;
		@apply flex-1 overflow-hidden;

		.inner-content {
			@apply p-2;
		}
	}

	.content {
		@apply items-center layout-1280:justify-center;

		@apply layout-1280:px-18 layout-1280:py-0;
		@apply px-content-mobile-x py-content-mobile-y;
		padding-top: calc(env(safe-area-inset-top) + 3.5rem);

		@screen layout-1280 {
			@apply pt-content-mobile-y;
		}

		.inner-content {
			@apply box-border;
			@apply w-full tablet:w-content-desktop-login;
			flex: unset;
		}
	}
}

:host(.variant-office) {
	.content {
		.inner-content {
			@apply layout-1280:w-[58rem];
			@apply layout-1440:w-[67rem];
			@apply layout-1536:w-[73rem];
			@apply layout-1680:w-[79rem];
			@apply layout-1920:w-[82rem];
			@apply layout-2560:w-[84.5rem];
		}
	}

	.sidebar {
		@apply layout-1280:w-[19rem] layout-1680:w-[22rem];
	}
}
