:host {
	@apply flex-auto;
	@apply transition duration-500 ease-in-out;

	@apply block;

	@apply bg-mystic-dark;
}

:host([direction='horizontal']) {
	@apply mb-[calc(.5rem-1px)] h-[2px];
}

:host([direction='vertical']) {
	@apply ml-[calc(.5rem-1px)] mr-[calc(.5rem-1px)] min-h-[1rem] w-[2px];
}

:host([active]) {
	@apply bg-indigo;
}
