:host {
	@apply bg-white;
	@apply px-6 py-6;
}

:host(.variant-table-flush) {
	@apply p-0 #{!important};
}

:host(.is-rounded-bottom) {
	@apply rounded-b-none desktop-xs:rounded-b-2xl;
}

:host(.is-rounded-top) {
	@apply rounded-t-lg desktop-xs:rounded-t-2xl;
}

:host(.no-padding) {
	@apply p-0;
}
