p-avatar {
	@apply inline-flex flex-shrink-0 items-center justify-center overflow-hidden bg-indigo-light;
	@apply font-semibold uppercase  text-storm-light;

	> img {
		@apply object-cover object-center;
	}

	&[size='xsmall'] {
		@apply h-6 w-6 text-[0.625rem];

		> img {
			@apply h-6 w-6;
		}
	}

	&[size='small'] {
		@apply h-8 w-8 text-xs;

		> img {
			@apply h-8 w-8;
		}
	}

	&[size='table'] {
		@apply h-10 w-10 text-xs;

		> img {
			@apply h-10 w-10;
		}
	}

	&[size='medium'] {
		@apply h-[3.125rem] w-[3.125rem] text-base;

		> img {
			@apply h-[3.125rem] w-[3.125rem];
		}
	}

	&[size='large'] {
		@apply h-16 w-16 text-base;

		> img {
			@apply h-16 w-16;
		}
	}

	&[size='xlarge'] {
		@apply h-[6.5rem] w-[6.5rem] text-base;

		> img {
			@apply h-[6.5rem] w-[6.5rem];
		}
	}

	&[variant='company'] {
		@apply rounded;

		&[size='medium'],
		&[size='large'],
		&[size='xlarge'] {
			@apply rounded-lg;
		}
	}

	&[variant='user'] {
		@apply rounded-full;
	}
}
