:host {
	.loader {
		@apply inline-block h-[1em] w-[1em] rounded-full;
		@apply border-2 border-solid border-indigo-light border-t-indigo;
		animation: 500ms spin linear infinite;

		will-change: transform;

		&.color-storm {
			@apply border-storm-light/40 border-t-storm #{!important};
		}

		&.color-white {
			@apply border-indigo-light/40 border-t-white #{!important};
		}
	}

	.loading-screen {
		@apply w-screen-safe h-screen-safe fixed top-0 left-0;
		@apply flex items-center justify-center;
		@apply bg-mystic;

		z-index: 1001;

		.content {
			@apply max-w-xs;

			.loader-wrapper {
				@apply flex w-full justify-center;

				.loader {
					@apply text-4xl;
				}
			}
		}
	}
}

:host(.variant-ghost) {
	@apply box-border block;

	will-change: background, background-position-x, background-color;

	min-height: 1em;
	min-width: 1em;

	--loading-bg: #f7fafc;
	--loading-stripe: rgba(252, 253, 254, 1);

	background-color: var(--loading-bg);
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			var(--loading-stripe) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		var(--loading-bg);
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
	to {
		background-position-x: -20%;
	}
}

@keyframes spin {
	100% {
		transform: rotate(1turn);
	}
}
