:host {
	@apply flex items-center justify-center gap-2 rounded px-2 desktop-xs:px-3;
	@apply h-[1.625rem];
	@apply text-sm font-semibold;

	.content {
		@apply hidden items-center desktop-xs:flex;
	}

	.circle {
		@apply hidden h-[0.625rem] w-[0.625rem] rounded-full;
	}

	p-icon {
		@apply hidden text-xs #{!important};
	}
}

:host([variant='neutral']) {
	@apply bg-mystic;
	@apply text-storm-vague;

	.circle {
		@apply bg-storm-vague;
	}
}

:host([variant='special']) {
	@apply bg-indigo-light;
	@apply text-indigo-dark;

	.circle {
		@apply bg-indigo;
	}
}

:host([variant='info']) {
	@apply bg-sky-light;
	@apply text-sky;

	.circle {
		@apply bg-sky;
	}
}

:host([variant='positive']) {
	@apply bg-positive-light;
	@apply text-positive;

	.circle {
		@apply bg-positive;
	}
}

:host([variant='unbiased']) {
	@apply bg-unbiased-light;
	@apply text-unbiased;

	.circle {
		@apply bg-unbiased;
	}
}

:host([variant='negative']) {
	@apply bg-negative-light;
	@apply text-negative;

	.circle {
		@apply bg-negative;
	}
}

:host([size='small']) {
	@apply h-4 min-w-[1rem] px-1 py-[1px];
	@apply justify-center text-xs;
	@apply leading-3;
}

:host([behavior='circle']) {
	.circle {
		@apply block desktop-xs:block;
	}
}

:host([behavior='icon']) {
	p-icon {
		@apply flex desktop-xs:flex #{!important};
	}
}

:host([behavior='text']) {
	p-icon {
		@apply hidden desktop-xs:hidden #{!important};
	}

	.circle {
		@apply hidden desktop-xs:hidden;
	}

	.content {
		@apply flex desktop-xs:flex;
	}
}

:host([behavior='combination']) {
	@apply px-0 desktop-xs:px-3;
	@apply w-[1.625rem] desktop-xs:w-auto;

	.circle {
		@apply hidden desktop-xs:block;
	}

	p-icon {
		@apply flex desktop-xs:hidden #{!important};
	}
}

:host([behavior='icon-only']) {
	@apply px-0 desktop-xs:px-0;
	@apply w-[1.625rem];

	.content {
		@apply hidden desktop-xs:hidden;
	}

	p-icon {
		@apply flex desktop-xs:flex #{!important};
	}
}

:host([behavior='icon-only'][size='small']) {
	@apply h-4 w-4;
}

:host([keep-mobile-content]),
:host([keep-mobile-content='true']) {
	.content {
		@apply flex desktop-xs:flex;
	}
}
