p-button {
    @apply inline-block;

    > button,
    > a {
        outline: 0;
        border: 0;
        @apply h-10 rounded-large w-auto;
        @apply font-semibold leading-4;
        @apply flex items-center justify-center;
        @apply cursor-pointer;

        will-change: filter;

        > p-loader {
            @apply ml-2;
        }

        // Icon positions
        &.icon-position-end {
            > p-icon:not(.chevron) {
                @apply ml-2;
            }
        }

        &.icon-position-start {
            > p-icon:not(.chevron) {
                @apply mr-2;
            }
        }

        // Variants
        &.variant-primary,
        &.variant-secondary {
            @apply px-4;
        }

        &.variant-primary,
        &.variant-secondary {
            &:hover:not([disabled]) {
                @apply filter drop-shadow-4;
            }
        }

        &.variant-primary {
            @apply bg-indigo text-white;

            &:active,
            &.active {
                @apply bg-indigo-dark;
            }
        }

        &.variant-secondary {
            @apply border border-solid border-mystic-dark #{!important};
            @apply bg-white text-storm;

            &:active,
            &.active {
                @apply bg-mystic;
            }
        }

        &.variant-text {
            @apply text-indigo;

            &:hover {
                @apply text-indigo-dark;
            }
        }

        // sizes
        &.size-small {
            @apply h-8 text-sm;
        }

        // widths
        &.width-full {
            @apply w-full;
        }

        &[disabled] {
            @apply opacity-40;
        }

        // chevron
        &.has-chevron {
            &.chevron-position-start {
                @apply pl-2;

                > p-icon.chevron {
                    @apply mr-2;
                }
            }

            &.chevron-position-end {
                @apply pr-2;

                > p-icon.chevron {
                    @apply ml-2;
                }
            }

            &.variant-secondary:hover:not([disabled]) p-icon:last-child {
                @apply text-indigo;
            }
        }

        &.has-icon-only {
            @apply px-2;

            > p-icon:first-child {
                @apply mx-0;
            }
        }

        &.should-inherit-text {
            color: inherit #{!important};
            font-size: inherit #{!important};
            font-weight: inherit #{!important};
        }
    }
}
