p-button {
	@apply flex h-10 w-auto text-base;

	button,
	a {
		outline: 0;
		border: 0;
		@apply h-full w-full;
		@apply rounded-lg #{!important};
		@apply font-semibold leading-4;
		@apply flex items-center justify-center;
		@apply cursor-pointer text-base;

		will-change: filter;

		> p-loader {
			@apply ml-2;
		}

		// Icon positions
		&.icon-position-end {
			> p-icon:not(.chevron) {
				@apply ml-2;
			}
		}

		&.icon-position-start {
			> p-icon:not(.chevron) {
				@apply mr-2;
			}
		}

		// Variants
		&.variant-primary,
		&.variant-secondary {
			@apply px-4 filter;

			&:active,
			&.active {
				@apply drop-shadow-transparent;
			}

			@media (pointer: fine) {
				&:hover:not([disabled]) {
					@apply drop-shadow-2;
				}
			}
		}

		&.variant-primary {
			@apply bg-indigo text-white;

			&:active,
			&.active {
				&:not([disabled]) {
					@apply bg-indigo-dark;
				}
			}
		}

		&.variant-secondary {
			@apply border border-solid border-mystic-dark #{!important};
			@apply bg-white text-storm;

			&:active,
			&.active {
				&:not([disabled]) {
					@apply bg-mystic;
				}
			}
		}

		&.variant-text {
			@apply text-indigo;

			&.has-underline {
				@apply underline underline-offset-1;
			}

			&:hover:not([disabled]) {
				@apply text-indigo-dark;
			}
		}

		&[disabled] {
			@apply opacity-40;
		}

		&.should-inherit-text {
			color: inherit #{!important};
			font-size: inherit #{!important};
			font-weight: inherit #{!important};
		}

		&.button-group-pos-start {
			@apply rounded-r-none #{!important};
		}

		&.button-group-pos-middle {
			@apply rounded-none #{!important};
		}

		&.button-group-pos-end {
			@apply rounded-l-none #{!important};
		}
	}

	// chevron
	&.has-chevron {
		a,
		button {
			&.chevron-position-start {
				@apply pl-2;

				> p-icon.chevron {
					@apply mr-2;
				}
			}

			&.chevron-position-end {
				@apply pr-2;

				> p-icon.chevron {
					@apply ml-2;
				}
			}

			&.variant-secondary:hover:not([disabled]) p-icon:last-child {
				@apply text-indigo;
			}
		}
	}

	&.has-icon-only {
		@apply w-10;

		a,
		button {
			@apply p-0;

			> p-icon:first-child {
				@apply mx-0;
			}

			> p-loader {
				@apply ml-0;
			}
		}

		&.has-chevron {
			@apply w-auto;

			a,
			button {
				&.chevron-position-start {
					@apply pr-2;
				}

				&.chevron-position-end {
					@apply pl-2;
				}
			}
		}
	}

	// sizes
	&.size-small {
		@apply h-8;

		button,
		a {
			@apply text-sm;

			> p-icon {
				@apply text-base;
			}
		}

		&.has-icon-only {
			@apply w-8;

			&.has-chevron {
				@apply w-auto;
			}
		}
	}
}
