:host {
    @apply flex flex-col gap-4;

    @apply -mx-4;

    .content {
        @apply flex flex-nowrap items-stretch overflow-x-auto gap-2 relative;
        @apply tablet:gap-4 desktop-xs:flex-wrap;

        @apply p-4 -my-4;

        &.draggable {
            @apply cursor-grab desktop-xs:cursor-default;

            &.dragging {
                @apply cursor-grabbing desktop-xs:cursor-default;
            }
        }

        > ::slotted(*) {
            @apply w-full tablet:w-[45%] desktop-xs:w-full;
            @apply flex-shrink-0 desktop-xs:flex-1;
            position: relative;
            z-index: 10;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .indicator {
        @apply flex justify-center items-center gap-2 desktop-xs:hidden;
    }
}
