:host {
	@apply flex cursor-pointer;

	.popover-container {
		@apply relative h-0 w-0;
		.popover {
			@apply left-0 top-0 z-tooltip inline-block rounded bg-white px-3 py-2 text-xs font-medium opacity-0 drop-shadow-3 transition-opacity;
			@apply pointer-events-none;
			width: max-content;
			max-width: 14.5rem;

			&.variant-hover,
			&.variant-error,
			&.variant-error-element {
				@apply bg-storm py-1 text-white;
			}

			&.variant-error,
			&.variant-error-element {
				@apply bg-negative uppercase tracking-wider;
			}

			&[data-show] {
				@apply pointer-events-auto opacity-100;
			}

			.arrow,
			.arrow::before {
				background: inherit;
				@apply absolute h-2 w-2;
			}

			.arrow {
				visibility: hidden;

				&::before {
					@apply visible rotate-45 transform;
					content: '';
				}
			}

			&[data-strategy='fixed'] {
				@apply fixed;
			}

			&[data-strategy='absolute'] {
				@apply absolute;
			}

			&[data-placement^='top'] > .arrow {
				@apply -bottom-1;
			}

			&[data-placement^='bottom'] > .arrow {
				@apply -top-1;
			}

			&[data-placement^='left'] > .arrow {
				@apply -right-1;
			}

			&[data-placement^='right'] > .arrow {
				@apply -left-1;
			}
		}
	}
}
