:host {
    @apply flex cursor-pointer;

    .popover-container {
        @apply relative h-0 w-0;
        .popover {
            @apply z-tooltip hidden rounded bg-white py-2 px-3 text-xs font-medium drop-shadow-4;
            max-width: 14.5rem;

            &.variant-hover,
            &.variant-error {
                @apply bg-storm py-1 text-white;
            }

            &.variant-error {
                @apply whitespace-nowrap bg-negative uppercase tracking-wider;
            }

            &[data-show] {
                @apply inline-block;
            }

            .arrow,
            .arrow::before {
                background: inherit;
                @apply absolute h-2 w-2;
            }

            .arrow {
                visibility: hidden;

                &::before {
                    @apply visible rotate-45 transform;
                    content: '';
                }
            }

            &[data-popper-placement^='top'] > .arrow {
                @apply -bottom-1;
            }

            &[data-popper-placement^='bottom'] > .arrow {
                @apply -top-1;
            }

            &[data-popper-placement^='left'] > .arrow {
                @apply -right-1;
            }

            &[data-popper-placement^='right'] > .arrow {
                @apply -left-1;
            }
        }
    }
}
