* {
	@apply font-geist;
}

html,
body {
	@apply w-full transition;
	@apply max-w-screen-safe;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body[data-theme='dark'] {
	@apply bg-storm-test;
}

body:not([data-theme='dark']) {
	@apply bg-white;
}

html {
	height: -moz-stretch;
	height: -webkit-stretch;
	height: stretch;
}

body {
	@apply h-screen-safe;
	height: -moz-stretch;
	height: -webkit-stretch;
	height: stretch;
}

body * {
	@apply box-border;
}

a {
	@apply text-inherit visited:text-inherit;
}
