@layer base {
    html,
    body {
        font-family: 'IBM Plex Sans', sans-serif;

        @apply w-full;
        @apply bg-mystic;

        max-width: 100vw;

        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    html {
        height: -moz-stretch;
        height: -webkit-stretch;
        height: stretch;
    }

    body {
        @apply min-h-screen;
        min-height: -moz-stretch;
        min-height: -webkit-stretch;
        min-height: stretch;
    }

    body * {
        @apply box-border;
    }
}
