@layer base {
	html,
	body {
		@apply font-geist;
		@apply w-full;
		@apply bg-white;
		@apply max-w-screen-safe;

		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
	}

	html {
		height: -moz-stretch;
		height: -webkit-stretch;
		height: stretch;
	}

	body {
		@apply h-screen-safe;
		height: -moz-stretch;
		height: -webkit-stretch;
		height: stretch;
	}

	body * {
		@apply box-border;
	}

	a {
		@apply text-inherit visited:text-inherit;
	}
}
