.sbdocs .boson-collection {
	@apply flex w-full flex-row justify-start;
}

.sbdocs .boson-collection .boson {
	@apply w-1/5;
}

.sbdocs .boson-collection .boson > span {
	@apply p-0 text-xs font-semibold uppercase text-storm-vague;
}

.sbdocs .boson-collection .boson > div {
	@apply h-16 w-16 rounded-lg bg-storm-light;
}

.sbdocs .bg-bird,
.sbdocs .bg-city {
	@apply bg-cover bg-center bg-no-repeat;
}

.sbdocs .bg-bird {
	background-image: url('https://images.unsplash.com/photo-1661804354022-435bb8c16c9f');
}

.sbdocs .bg-city {
	background-image: url('https://images.unsplash.com/photo-1661829387984-8da6fc78ca8b');
}

ul {
	margin: 1rem 0;
	list-style: inside;
}
