@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/ambit');

#storybook-explorer-tree .sidebar-item {
	margin: 0 0.5rem 1px 0;
	/* padding-left: 1rem; */
	/* padding: 4px 8px 4px 4px; */
	border-radius: 8px;
	height: 32px;
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	color: #355550;
}

#storybook-explorer-tree .sidebar-item:hover,
#storybook-explorer-tree .sidebar-item:focus {
	background: #f3f1ed !important;
	color: #032a24;
}

#storybook-explorer-tree button.sidebar-item {
	/* margin: 0 1rem 0 0; */
}

#storybook-explorer-tree button.sidebar-item span:first-child {
	margin: 0;
	border-top-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
}

#storybook-explorer-tree .sidebar-item svg {
	color: inherit;
	background: transparent;
	margin: 0;
	padding: 4px;
	width: 1.4375rem;
	height: 1.5rem;
	border-radius: 100%;
}

#storybook-explorer-tree .sidebar-item[data-selected='true'],
#storybook-explorer-tree .sidebar-item[aria-expanded='true'] {
	background: #eceae5 !important;
	color: #032a24;
	font-weight: 600;

	svg {
		background: #d1aeff;
	}
}
