p-status {
	@apply flex items-center;
	@apply text-sm text-storm-vague font-medium;

	p-icon {
		@apply mr-2 text-base;
	}

	&.variant-positive {
		@apply text-positive;
	}

	&.variant-unbiased {
		@apply text-unbiased;
	}

	&.variant-negative {
		@apply text-negative;
	}
}
