:host {
	@apply fixed flex flex-col gap-4 z-toast;
	@apply tablet:max-w-[26.5rem];
	@apply z-[600];

	width: calc(
		100% -
			(
				env(safe-area-inset-left, 0) + env(safe-area-inset-right, 0) +
					2rem
			)
	);
	max-width: calc(
		100% -
			(
				env(safe-area-inset-left, 0) + env(safe-area-inset-right, 0) +
					2rem
			)
	);
}

:host(.placement-top-start) {
	top: calc(env(safe-area-inset-top, 0) + 1rem);
	left: calc(env(safe-area-inset-left, 0) + 1rem);
}

:host(.placement-top-end) {
	top: calc(env(safe-area-inset-top, 0) + 1rem);
	right: calc(env(safe-area-inset-right, 0) + 1rem);
}

:host(.placement-bottom-start) {
	bottom: calc(env(safe-area-inset-bottom, 0) + 1rem);
	left: calc(env(safe-area-inset-left, 0) + 1rem);
}

:host(.placement-bottom-end) {
	bottom: calc(env(safe-area-inset-bottom, 0) + 1rem);
	right: calc(env(safe-area-inset-right, 0) + 1rem);
}
