:host {
    @apply w-full flex flex-col gap-4 z-toast;
    @apply max-w-full tablet:max-w-[26.5rem];
    @apply z-[600];

    padding-top: calc(env(safe-area-inset-top, 0) + 1rem);
    padding-right: calc(env(safe-area-inset-right, 0) + 1rem);
    padding-bottom: calc(env(safe-area-inset-bottom, 0) + 1rem);
    padding-left: calc(env(safe-area-inset-left, 0) + 1rem);
}
