p-avatar-group {
    @apply flex -space-x-1 overflow-hidden items-center;

    p-avatar > img {
        @apply ring-2 ring-white;
    }

    p-avatar:nth-child(1) {
        z-index: 3;
    }

    p-avatar:nth-child(2) {
        z-index: 2;
    }

    p-avatar:nth-child(3) {
        z-index: 1;
    }

    .extra {
        @apply text-sm text-storm-vague pl-4;
    }
}
