@use '@paperless/core/dist/paperless/paperless';
@use '../../paperless/src/paperless.scss' as internal;

@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
	@apply text-5xl #{!important};
}
