@mixin scrollbar() {
    scrollbar-color: #528afa #dae6f0;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
        background: #dae6f0;
    }

    &::-webkit-scrollbar-thumb {
        background: #528afa;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #528afa;
    }
}

@mixin scrollbarX() {
    &::-webkit-scrollbar {
        height: 0.25rem;
    }

    @include scrollbar();
}

@mixin scrollbarY() {
    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    @include scrollbar();
}
