@import '../../../style/mixins';

p-dropdown-menu-container {
	@apply w-auto;
	@apply rounded-xxlarge bg-white;
	@apply z-10 overflow-y-auto overflow-x-hidden drop-shadow-4 filter;

	.content {
		@apply w-full p-2;
		@apply flex flex-col gap-[1px];
	}

	&.full-width {
		@apply w-full;
	}

	&.max-width {
		@apply max-w-[222px];
	}

	&.scrollable {
		@apply max-h-[11.5rem];

		scrollbar-width: none;
		&::-webkit-scrollbar {
			@apply hidden;
		}

		.content {
			@apply h-full;
		}

		&.scrollable-large {
			@apply max-h-[20rem];
		}
	}
}
