:host {
	@apply flex;
	@apply fixed left-0 top-0 z-backdrop;
	@apply h-full w-full;
	@apply overflow-hidden;
	@apply animate-in fade-in bg-storm-dark/50;
	@apply max-h-screen max-w-screen;

	.content-container {
		@apply h-full w-full overflow-y-auto overflow-x-hidden;
		@apply pt-16 tablet:px-16 desktop-xs:p-16;
		@apply flex items-end justify-center desktop-xs:items-stretch;
		@apply max-h-screen max-w-screen;
	}
}

:host(.blurred) {
	@apply backdrop-blur-sm;
}

:host(.closing) {
	@apply fade-out;

	.content-container {
		@apply overflow-hidden;
	}
}

:host(.variant-drawer) {
	.content-container {
		@apply items-start justify-end desktop-xs:items-start;
		@apply p-0 tablet:p-0 desktop-xs:p-0;
	}
}
