@import './mixins';

input[type='checkbox'].p-input {
	@apply appearance-none bg-center bg-no-repeat;
	@apply h-6 w-6 rounded bg-white;
	@apply border border-solid border-mystic-dark;
	@apply outline-none #{!important};

	background-size: 1rem;

	+ label {
		margin-top: 0.05rem;
		margin-left: 0.2rem;
	}

	&:hover:not(:disabled):not([disabled]):not(.disabled) {
		@apply cursor-pointer;
	}

	&:hover:not(:disabled):not([disabled]):not(.disabled):not(:checked):not(
			[checked]
		):not(.checked):not(:indeterminate):not([indeterminate]):not(
			.indeterminate
		) {
		@apply border-indigo;
		background-image: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>EB3016C2-A1DF-47ED-937C-697443FD3F3C@1x</title> <g id="✔️-Collections" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="⚛️-Atoms---Icons" transform="translate(-299.000000, -368.000000)" fill="%23dae6f0"> <g id="Collection---Icons" transform="translate(56.000000, 56.000000)"> <g id="icons" transform="translate(0.000000, 152.000000)"> <g id="checkmark" transform="translate(0.000000, 160.000000)"> <g id="Path" transform="translate(243.000000, 0.000000)"> <path d="M5.9647539,11.4869113 L13.5310363,1.53005377 C13.9660225,0.957640367 14.7506399,0.830594918 15.3318508,1.23846541 L15.4391486,1.31485597 C15.7328273,1.52108493 15.9306419,1.84558554 15.9849532,2.2102092 C16.0392644,2.57483285 15.9451503,2.94653481 15.725276,3.23579911 L7.2585864,14.3795051 C7.08780408,14.6049504 6.86247873,14.7614579 6.61748211,14.843438 C6.09379993,15.1259931 5.45441111,15.0189985 5.04199293,14.5797974 L0.362021072,9.60136867 C0.114703307,9.33763381 -0.0159246448,8.97843936 0.00155347006,8.61017223 C0.019031585,8.2419051 0.18303418,7.89788961 0.45411834,7.6608621 L0.554262943,7.57329243 C1.09124008,7.10398752 1.8844974,7.14458066 2.37474875,7.66645166 L5.96564805,11.4869113 L5.9647539,11.4869113 Z"></path> </g> </g> </g> </g> </g> </g></svg>');
	}

	&[indeterminate],
	&:indeterminate,
	&.indeterminate,
	&[checked],
	&:checked,
	&.checked {
		@apply border-indigo bg-indigo;
	}

	&[checked],
	&:checked,
	&.checked {
		background-image: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>EB3016C2-A1DF-47ED-937C-697443FD3F3C@1x</title> <g id="✔️-Collections" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="⚛️-Atoms---Icons" transform="translate(-299.000000, -368.000000)" fill="white"> <g id="Collection---Icons" transform="translate(56.000000, 56.000000)"> <g id="icons" transform="translate(0.000000, 152.000000)"> <g id="checkmark" transform="translate(0.000000, 160.000000)"> <g id="Path" transform="translate(243.000000, 0.000000)"> <path d="M5.9647539,11.4869113 L13.5310363,1.53005377 C13.9660225,0.957640367 14.7506399,0.830594918 15.3318508,1.23846541 L15.4391486,1.31485597 C15.7328273,1.52108493 15.9306419,1.84558554 15.9849532,2.2102092 C16.0392644,2.57483285 15.9451503,2.94653481 15.725276,3.23579911 L7.2585864,14.3795051 C7.08780408,14.6049504 6.86247873,14.7614579 6.61748211,14.843438 C6.09379993,15.1259931 5.45441111,15.0189985 5.04199293,14.5797974 L0.362021072,9.60136867 C0.114703307,9.33763381 -0.0159246448,8.97843936 0.00155347006,8.61017223 C0.019031585,8.2419051 0.18303418,7.89788961 0.45411834,7.6608621 L0.554262943,7.57329243 C1.09124008,7.10398752 1.8844974,7.14458066 2.37474875,7.66645166 L5.96564805,11.4869113 L5.9647539,11.4869113 Z"></path> </g> </g> </g> </g> </g> </g></svg>');
	}

	&[indeterminate],
	&:indeterminate,
	&.indeterminate {
		background-image: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <title>1AA10FE9-5D18-418E-AF58-B044C23B6DEB@1x</title> <g id="✔️-Collections" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="⚛️-Atoms---Icons" transform="translate(-299.000000, -854.000000)" fill="white"> <g id="Collection---Icons" transform="translate(56.000000, 56.000000)"> <g id="icons" transform="translate(0.000000, 152.000000)"> <g id="minus" transform="translate(0.000000, 646.000000)"> <g id="icons/plus/default" transform="translate(243.000000, 0.000000)"> <path d="M4,7 L12,7 C12.5522847,7 13,7.44771525 13,8 C13,8.55228475 12.5522847,9 12,9 L4,9 C3.44771525,9 3,8.55228475 3,8 C3,7.44771525 3.44771525,7 4,7 Z"></path> </g> </g> </g> </g> </g> </g></svg>');
	}

	&[disabled],
	&:disabled,
	&.disabled {
		@include inputDisabledState();
	}

	&[error],
	&.error {
		@include inputErrorState();

		&[checked],
		&:checked,
		&.checked {
			@apply bg-negative;
		}
	}

	&.size-small {
		@apply h-4 w-4;

		&:hover:not(:disabled):not([disabled]):not(.disabled):not(:checked):not(
				[checked]
			):not(.checked):not(:indeterminate):not([indeterminate]):not(
				.indeterminate
			) {
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" transform="translate(2.667 2.667)"><rect width="10.667" height="10.667"/><path fill="#DAE6F0" d="M3.9765026,7.65794087 L9.02069083,1.02003585 C9.3106817,0.638426911 9.83375994,0.553729945 10.2212339,0.825643607 L10.2927657,0.876570648 C10.4885516,1.01405662 10.6204279,1.23039036 10.6566354,1.4734728 C10.692843,1.71655523 10.6301002,1.96435654 10.4835173,2.15719941 L4.8390576,9.58633674 C4.72520272,9.73663362 4.57498582,9.84097195 4.41165474,9.89562536 C4.06253329,10.0839954 3.63627408,10.0126656 3.36132862,9.71986496 L0.241347382,6.40091245 C0.0764688713,6.22508921 -0.0106164299,5.98562624 0.00103564671,5.74011482 C0.0126877233,5.4946034 0.122022786,5.26525974 0.30274556,5.1072414 L0.369508628,5.04886162 C0.727493388,4.73599168 1.2563316,4.76305377 1.58316583,5.11096777 L3.9770987,7.65794087 L3.9765026,7.65794087 Z"/></g></svg>');
		}

		&[checked],
		&:checked,
		&.checked {
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" transform="translate(2.667 2.667)"><rect width="10.667" height="10.667"/><path fill="#FFF" d="M3.9765026,7.65794087 L9.02069083,1.02003585 C9.3106817,0.638426911 9.83375994,0.553729945 10.2212339,0.825643607 L10.2927657,0.876570648 C10.4885516,1.01405662 10.6204279,1.23039036 10.6566354,1.4734728 C10.692843,1.71655523 10.6301002,1.96435654 10.4835173,2.15719941 L4.8390576,9.58633674 C4.72520272,9.73663362 4.57498582,9.84097195 4.41165474,9.89562536 C4.06253329,10.0839954 3.63627408,10.0126656 3.36132862,9.71986496 L0.241347382,6.40091245 C0.0764688713,6.22508921 -0.0106164299,5.98562624 0.00103564671,5.74011482 C0.0126877233,5.4946034 0.122022786,5.26525974 0.30274556,5.1072414 L0.369508628,5.04886162 C0.727493388,4.73599168 1.2563316,4.76305377 1.58316583,5.11096777 L3.9770987,7.65794087 L3.9765026,7.65794087 Z"/></g></svg>');
		}
	}
}

input[type='checkbox'].p-toggle {
	@apply appearance-none;
	@apply h-6 w-[2.375rem] bg-white p-1;
	@apply flex items-center justify-start;
	@apply rounded-3xl;
	@apply border border-solid border-mystic-dark;

	&:after {
		content: '';
		@apply block h-4 w-4 rounded-full;
		@apply translate-x-0 bg-mystic-dark transition-transform duration-100;
	}

	&[checked],
	&:checked,
	&.checked {
		@apply border-indigo bg-indigo;

		&:after {
			@apply translate-x-3 bg-white;
		}
	}

	&[disabled],
	&:disabled,
	&.disabled {
		@include inputDisabledState();
	}

	&:hover:not(:disabled):not([disabled]):not(.disabled) {
		@apply cursor-pointer;
	}

	&:hover:not(:disabled):not([disabled]):not(.disabled):not(:checked):not(
			[checked]
		):not(.checked) {
		@apply border-indigo;
	}

	&[error],
	&.error {
		@include inputErrorState();

		&[checked],
		&:checked,
		&.checked {
			@apply bg-negative;
		}
	}
}
