.p-input[type='radio'] {
    @apply appearance-none relative;
    @apply w-4 h-4 bg-white rounded-full;
    @apply border border-solid border-mystic-dark;
    @apply outline-none #{!important};

    &:after {
        @apply absolute top-1/2 left-1/2 bg-transparent;
        @apply transform -translate-x-1/2 -translate-y-1/2 rounded-full;

        content: ' ';
        width: 0.375em;
        height: 0.375em;
    }

    &:hover:not(:disabled):not([disabled]):not(.disabled) {
        @apply cursor-pointer;
    }

    &:hover:not(:disabled):not([disabled]):not(.disabled):not(:checked):not([checked]):not(.checked) {
        @apply border-indigo;

        &::after {
            @apply bg-mystic-dark;
        }
    }

    &[checked],
    &:checked,
    &.checked {
        @apply bg-indigo border-indigo;

        &:after {
            @apply bg-white;
        }
    }

    &[disabled],
    &:disabled,
    &.disabled {
        @include inputDisabledState();
    }

    &[error],
    &.error {
        @include inputErrorState();

        &[checked],
        &:checked,
        &.checked {
            @apply bg-negative;

            &:after {
                @apply bg-white;
            }
        }
    }
}
