:host {
    @apply w-full;
    @apply desktop-xs:w-60;

    .sidebar,
    .sidebar .company,
    .sidebar .content,
    .sidebar .user,
    .userbar {
        @apply flex flex-col w-full;
    }

    .sidebar,
    .top-bar {
        @apply bg-white;
        @apply border-0  border-solid border-mystic-dark #{!important};
    }

    .sidebar {
        @apply bg-white fixed top-0 h-screen w-60 z-20 -left-full;
        @apply desktop-xs:relative desktop-xs:h-full desktop-xs:w-full desktop-xs:left-0;

        @apply p-4;

        padding-top: calc(env(safe-area-inset-top, 0) + 1rem);

        @apply border-r #{!important};

        @apply transition-all;

        .header {
            @apply flex justify-between w-full items-center mb-6;
            @apply desktop-xs:hidden;
        }

        .content {
            @apply mt-6;
        }

        .user {
            @apply hidden mt-auto;
            @apply desktop-xs:flex;
        }

        &.show {
            left: env(safe-area-inset-left, 0);
        }
    }

    .top-bar {
        @apply flex justify-between h-12 px-4 py-2 w-full;

        padding-top: calc(env(safe-area-inset-top, 0) + 0.5rem);

        @apply border-b #{!important};

        @apply desktop-xs:hidden;
    }

    .backdrop {
        @apply fixed top-0 left-0 z-10;
        @apply h-screen w-screen;
        @apply backdrop-blur-xs bg-storm/50;

        @apply transition-opacity opacity-0;

        @apply desktop-xs:hidden;

        @apply pointer-events-none;
    }
}
