:host {
	@apply w-full max-h-screen-safe layout-1280:w-60 layout-1680:w-72;

	.safe-sidebar {
		padding-top: calc(env(safe-area-inset-top, 0) + 1rem) !important;

		&.show {
			--tw-translate-x: env(safe-area-inset-left, 0) !important;
		}
	}

	.safe-topbar {
		padding-top: calc(env(safe-area-inset-top, 0) + 1rem) !important;
		height: calc(env(safe-area-inset-top, 0) + 4rem);
	}
}
